@import url(config.css);
@import url(fonts.css);
*{
    margin: 0;
    padding: 0;
}
body {
background-color: var(--primary-color); 
}
.form {
    max-width: 500px;
    max-height: 900px;
    margin: 16px auto;
    border-radius: 10px;
    background-color: #fff;
}
.header {
    padding: 18px 20px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    text-align: center;
    background-color: var(--secondary-color);
    justify-content: space-between;
    color: #fff;
}
.title {
    padding: 20px 20px;
    text-align: center;
}
.title img {
    padding: 20px;
}
.title h1{
    padding: 20px;
}
.title p {
    padding: 20px;
}